.container-breadcrumb {
    border-bottom: 1px solid #d4d3d3;
    font-size: 12px;
    height: 31px;
    width: 85%;
    margin-top: 40px;
    padding: 6px;
    float: right;
}

.container-breadcrumb ul li{
    display: inline;
    margin-left: 10px;
}

.container-breadcrumb a {
    text-decoration: none;
    color: #023b69;
}
.container-breadcrumb a:hover {
    display:ruby;
}